{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="{% block meta_description %}Welcome To The Website Of Deckor Incorporated!{% endblock %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>{% block title %}Home | Deckor Incorporated {% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/logo.jpg' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

  <link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">
  <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

</head>

<body>
  <!-- Messenger Chat Plugin Code -->
  <div id="fb-root"></div>

  <!-- Your Chat Plugin code -->
  <div id="fb-customer-chat" class="fb-customerchat">
  </div>

  <script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "101124578920782");
    chatbox.setAttribute("attribution", "biz_inbox");
  </script>

  <!-- Your SDK code -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v17.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="deckor-load"></div>
    </div>
  </div>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Block 48, Lot 3 Richmond St. Laguna BEL-AIR Subd., Santa Rosa, Philippines"><i class="fa fa-map-marker"></i> <span>Block 48, Lot 3 Richmond St. Laguna BEL-AIR Subd., Santa Rosa, Philippines</span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="deckor_inc@yahoo.com"><i class="fa fa-envelope"></i> <span>deckor_inc@yahoo.com</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="https://www.facebook.com/DeckorINC/" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/deckor.jpg' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'service' %}">Services</a></li>
                  <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                  <li><a href="./contact.html">Contact</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Booking Now Button -->
            <a href="home.html#bottom" class="btn dento-btn booking-btn">Booking Now</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->



{% block content %}

{% endblock %}



 <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/image3.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="{% url 'home' %}" class="d-block mb-4"><img src="{% static 'website/img/core-img/deckor.jpg' %}" alt=""></a>
            <p>We Construct. We Design. We Deliver.</p>
            <div class="footer-contact">
              <p><i class="icon_pin"></i> Block 48, Lot 3 Richmond St. Laguna BEL-AIR Subd., Santa Rosa, Philippines</p>
              <p><i class="icon_mail"></i>deckor_inc@yahoo.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

  <script>
    $(document).ready(function() {
      $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
      });
    });
  </script>

</body>

</html>