{% extends 'base.html' %}
{% load static %}


{% block content %}



  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/1.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">We are Deckor Incorporated</h2>
                <p data-animation="fadeInUp" data-delay="300ms">CONSTRUCTION | DESIGN | PROJECT MANAGEMENT</p>
                <div class="welcome-btn-group">
                  <a href="{% url 'service' %}" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Get Started</a>
                  <a href="{% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInUp" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/2.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">We aim to provide highly satisfactory services for every changing need of our clients.</h2>
                <p data-animation="fadeInDown" data-delay="300ms">We are formed by professional individuals that encourage progressive innovation and creativity while maintaining highly ethical and socially responsible values. </p>
                <div class="welcome-btn-group">
                  <a href="{% url 'service' %}" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Get Started</a>
                  <a href="{% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/design.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Us</h2>
              <div class="line"></div>
            </div>
            <p>Deckor Inc., a construction company founded in 2009 by Doddie Delmendo, prides itself on creativity, honesty, and customer satisfaction. Our team of highly qualified experts is dedicated to providing excellent services while keeping moral principles. We offer effective and sustainable solutions for all your building needs with an emphasis on forward-thinking ideas. Deckor Inc. ensures excellence in every project it takes on by constructing not just long-lasting structures but also enduring connections. Join us as we set out to create a better future for the construction industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">30</span></h2>
            <h5>Years Of Experience</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">30</span>+</h2>
            <h5>Satisfied Clients</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">4</span></h2>
            <h5>Services Offered</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="non-counter"></span>Certified</h2>
            <h5>with Business Permit</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- Services Area Start -->
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/13.jpg' %}');">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <h2>Our Services</h2>
              <div class="line"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/sketch.png' %}" alt="">
                  <h6>Architectural Design</h6>
                </div>
              </div>



              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/construction.png' %}" alt="">
                  <h6>Construction</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/staircase.png' %}" alt="">
                  <h6>Interior Design</h6>
                </div>
              </div>


              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core-img/workspace.png' %}" alt="">
                  <h6>Office Fitouts</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pic Area -->
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
            <img src="{% static 'website/img/bg-img/interior.jpg' %}" alt="" width="560" height="380">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Area End -->


    <!-- ***** Deckor Area Start ***** -->
    <section class="deckor-area section-padding-100-0">
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center">
              <h2>Our Projects</h2>
              <div class="line"></div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <!-- Single deckor Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-deckor-area mb-100">
              <img src="{% static 'website/img/bg-img/1st.jpg' %}" alt="">
              <!-- deckor Content -->
            </div>
          </div>
  
          <!-- Single deckor Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-deckor-area mb-100">
              <img src="{% static 'website/img/bg-img/2nd.jpg' %}" alt="">
              <!-- deckor Content -->
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-deckor-area mb-100">
              <img src="{% static 'website/img/bg-img/3rd.jpg' %}" alt="">
              <!-- deckor Content -->
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Single deckor Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-deckor-area mb-100">
              <img src="{% static 'website/img/bg-img/4th.jpg' %}" alt="">
              <!-- deckor Content -->
            </div>
          </div>
  
          <!-- Single deckor Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-deckor-area mb-100">
              <img src="{% static 'website/img/bg-img/5th.jpg' %}" alt="">
              <!-- deckor Content -->
            </div>
          </div>
  
          <!-- Single deckor Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-deckor-area mb-100">
              <img src="{% static 'website/img/bg-img/6th.jpg' %}" alt="">
              <!-- deckor Content -->
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Single deckor Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-deckor-area mb-100">
              <img src="{% static 'website/img/bg-img/7th.jpg' %}" alt="">
              <!-- deckor Content -->
            </div>
          </div>
  
          <!-- Single deckor Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-deckor-area mb-100">
              <img src="{% static 'website/img/bg-img/8th.jpg' %}" alt="">
              <!-- deckor Content -->
            </div>
          </div>
  
          <!-- Single deckor Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-deckor-area mb-100">
              <img src="{% static 'website/img/bg-img/9th.jpg' %}" alt="">
              <!-- deckor Content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Deckor Area End ***** -->

  <!-- Book An Oppointment Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/12.jpg' %}');" id="bottom">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Book An Appointment</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="appointment-form">
            <form action="{% url 'appointment' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-name" class="form-control" placeholder="Your Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-phone" class="form-control" placeholder="Your Phone" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-address" class="form-control" placeholder="Your Address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-schedule" class="form-control">
                      <option value="First Choice Appoinment Time">Appointment Time</option>
                      <option value="9 AM to 10 AM">9 AM to 10 AM</option>
                      <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                      <option value="2 PM to 4 PM">2 PM to 3 PM</option>
                      <option value="8 PM to 10 PM">4 PM to 5 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="date" name="your-date" class="form-control datepicker" placeholder="Select a Date" required min = "{% now 'Y-m-d' %}">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-30">
                    <textarea name="your-message" class="form-control" placeholder="Put any additional messages - service requested, etc."></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Booking Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Oppointment Area End -->
 
 {% endblock %}