{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio | Deckor Incorporated{%endblock %}
{% block meta_description %}We Construct. We Design. We Deliver.{% endblock %}

{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Our Portfolio</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href='home.html'><i class="fa fa-home"></i>Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Our Portfolio</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Area 1 Start ***** -->
  <section class="deckor-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Architectural Designs</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Ridgeview Estate 1.jpg' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Ridgeview State</h5>
                <p>Exterior Facelifting</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Ridgeview Estate 2.jpg' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Ridgeview State</h5>
                <p>Exterior Facelifting</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Ridgeview Estate.jpg' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Ridgeview State</h5>
                <p>Exterior Facelifting</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Georgia Club Residential 1.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Georgia Club Residential</h5>
                <p>Sta. Rosa, Laguna</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Gorospe Residence.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Gorospe Residence</h5>
                <p>Casa Milan, North Fairview, Quezon City</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Vacation House.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Vacation House</h5>
                <p>Sinisian, Calaca, Batangas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

<!-- ***** Area 2 Start ***** -->
  <section class="deckor-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Construction</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Bulkuksa Community.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Bulkuksa Community</h5>
                <p>Pook, Silang, Cavite</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Fernandes Residence.jpg' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Fernandes Residence</h5>
                <p>Angat, Bulacan</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/NHH Building.jpg' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>NHH Building</h5>
                <p>Taguig, Fort Bonifacio</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Pec Building.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Pec Building</h5>
                <p>Laguna Bel Air 2, Sta. Rosa, Laguna</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Delmedo Residence.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Delmedo Residence</h5>
                <p>Laguna Bel Air, Sta. Rosa</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Chung Shim.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Chung Shim Temple</h5>
                <p>Pook, Silang, Cavite</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>


  <!-- ***** Area 3 Start ***** -->
  <section class="deckor-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Interior Design</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Didal Residences.jpg' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Didal Residences</h5>
                <p>Sinisian, Calaca, Batangas</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Didal Residences 2.jpg' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Didal Residences</h5>
                <p>Sinisian, Calaca, Batangas</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Odaki1.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Odaki Residences</h5>
                <p>Sonera Ayala Southvile, Daang Hari, Muntinlupa</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Odaki2.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Odaki Residences</h5>
                <p>Sonera Ayala Southvile, Daang Hari, Muntinlupa</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Ridgeview.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Ridgeview</h5>
                <p>Nuvali Canlubang, Laguna</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/Ridgeview2.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Ridgeview</h5>
                <p>Nuvali Canlubang, Laguna</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  <!-- ***** Area 4 Start ***** -->
  <section class="deckor-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Office Fitouts</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/SunpowerEE.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Interior Sunpower</h5>
                <p>EE War Room</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/SunpowerVega.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Interior Sunpower</h5>
                <p>Vega Room</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/SunpowerHR.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Interior Sunpower</h5>
                <p>HR Manager Room</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/SunpowerLounge.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Interior Sunpower</h5>
                <p>Lounge</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Single deckor Area -->
        <div class="col-4 col-sm-6 col-md-30">
          <div class="single-deckor-area mb-100">
            <img src="{% static 'website/img/bg-img/SunpowerPurchasing.png' %}" alt="">
            <!-- deckor Content -->
            <div class="deckor-content">
              <!-- deckor Info -->
              <div class="deckor-info bg-gradient-overlay">
                <h5>Interior Sunpower</h5>
                <p>Purchasing Room</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ***** Deckor Area End ***** --> 


{% endblock %}